body{
  background-image: url('https://image.freepik.com/free-vector/abstact-pixelated-background_1048-1042.jpg');

  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

header {
  text-content: center;
  padding: 0;
}

#game-board {
  margin: 0 auto;
  width: 540px;
}

.grid-holder {
  width: 50%;
  margin: 0 auto;
  height: 100px;
}

.row {
  clear: left;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #ADD8E6;
  float: left;
  background-color: white;
  border-radius: 5px;
  background-image: url("https://i.warosu.org/data/vr/img/0033/92/1469810362787.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
}

.cell:hover{
  background-color: rgba(102,51,153,0.5);
  border-radius: 10px;
  border: 2.5px solid #00FFFF;
}

.bomb-exposed {
  /*background-color: red;*/
  background-image: url("http://pngimages.net/sites/default/files/bomb-cool-emots-png-image-49453.png");
}

.bomb-hidden {
  /*background-color: purple;*/
}

.covering-top {
  background-image: url("http://pngimages.net/sites/default/files/bomb-cool-emots-png-image-49453.png");
}

.reveal{
  background-color: white;
  /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/28/Astro_4D_stars_proper_radial_g_rb_8mag_big.png');*/*/
}

.revealB {
  background-color: blue;
}

.door{
  /*background-image: url("http://data.whicdn.com/images/124620574/original.jpg");*/
  background-image: url("http://vignette3.wikia.nocookie.net/fantendo/images/9/99/Super_mario_world_door.png/revision/latest?cb=20120822131116");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
}

.flash {
  background-color: rgba(102,51,153,0.5);
  border-radius: 10px;
  border: 2.5px solid #00FFFF;
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRHOofZJ4APGAKW6xtx4AwrGaU40agJd-ZfLcgdCIZfjtj3ZDlr');
}

#seconds {
  font-family: 'Orbitron', sans-serif;
}

#startGame {
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
  /*border: 2px solid #fff200;
  background-color: white;
  color: #fff200;*/
  font-family: Orbitron;
}

.sweet {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
  /*border-color: red;*/

}

.sweetReveal {
  background-color: white;
  background-image: url('https://img.clipartfest.com/3fab55792d6c70e2c0c469e587a93c17_candy-clip-art-at-clker-com-sweets-clipart_600-450.png');
}
